* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header > p {
  font-size: 20px;
}

.pads {
  background: darkblue;
  width: 100%;
  display: flex;
}
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}
.pad1 {
  background: darkgoldenrod;
}
.pad2 {
  background: rgb(11, 164, 184);
}
.pad3 {
  background: rgb(11, 37, 184);
}
.pad4 {
  background: rgb(40, 185, 27);
}
.pad5 {
  background: rgb(184, 51, 11);
}
.pad6 {
  background: rgb(184, 11, 106);
}
